<header id="header" class="display">
  <h1>BlogVlog</h1>
  <nav id="nav-bar">
    <a class="nav-link" href="#home">Home</a>
    <a class="nav-link" href="#footer">Service & Support</a>
  </nav>
</header>

<div class="categories">
  <nav>
    <a class="cat-nav" href="#main-section">Top Blogs</a>
    <a class="cat-nav" href="#travel">Travel</a>
    <a class="cat-nav" href="#food">Food</a>
    <a class="cat-nav" href="#art">Creativity</a>
    <a class="cat-nav" href="#fitness">Fitness</a>
    <a class="cat-nav" href="#health">Health</a>
  </nav>
</div>

<section id="home">
  <p style="margin-left: -6.6rem;font-size: 22px;margin-bottom: -10px; margin-top: 60px;">Explore</p>
  <p style="font-size: 40px;"><i>Wonders</i> of</p>
  <p style="margin-left: -2rem;margin-top: -15px;">the Globe</p>
</section>

<section id="main-page" class="display">

  <div id="main-section">
    <h2>Top Blogs</h2>
    <hr style="width: 5rem;margin: auto;">

    <!-- blog images -->
    <div class="prod" id="travel">
      <figure class="pic">
        <img src="https://images.squarespace-cdn.com/content/v1/5558cd14e4b0251d92d46db6/d44da594-d331-4242-8b74-a432d6bc30e0/_OM15258.jpg?format=1500w" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://theflore.com/blog-posts/2023/11/22/glimpseofthailand"> <p class="dec">A First Glimpse of Thailand</p> </a>
        <figcaption>Although I spent a few weeks in Thailand in July and August of 2023, they happened to be less focused on exploring and travel. Nevertheless, both Phuket and Bangkok had a few sights to offer that I did want to make time for and document.  </figcaption>
      </figure>
      
      <figure class="pic">
        <img src="https://images.squarespace-cdn.com/content/v1/5558cd14e4b0251d92d46db6/1695482238781-ABSUR1ZYO1T53QY9QIBG/Screenshot+2023-09-20+at+18.51.52.jpg?format=1500w" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://theflore.com/blog-posts/2023/9/30/beijing-and-the-great-wall"> <p>Beijing & The Great Wall</p> </a>
        <figcaption>During my last trip through Asia (lots of blogs to come), I didn’t really have Beijing (or China) on the cards yet, partly because you need a visa, and because there is just so much to see it needs a lot of planning and time.</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://images.squarespace-cdn.com/content/v1/5558cd14e4b0251d92d46db6/14b85edf-bf8a-4e13-806d-bad3d0b8f593/Screenshot+2023-07-10+at+17.18.49.jpg?format=1500w" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://theflore.com/blog-posts/2023/6/11/palawan-gem-of-the-philippines"> <p>Palawan - Gem of the Philippines</p> </a>
        <figcaption>Earlier this year I spent a few weeks in the Philippines, exploring Manila, Siargao, Cebu, Bohol, and what was once voted the most beautiful island in the world: Palawan. This large island is home to around 1m people.  </figcaption>
      </figure>
    </div>

    <hr class="div"  id="travel">
    <h2>Travel Blogs</h2>
    <hr style="width: 5rem;margin: auto;">

    <div class="prod">
      <figure class="pic">
        <img src="https://anywhereweroam.com/wp-content/uploads/2020/01/havana-streets-13.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://anywhereweroam.com/streets-of-havana/"> <p>The streets of Havana</p> </a>
        <figcaption>It’s the early evening when, for the first time, we bound down the steps, push through a metal door and descend onto the narrow streets of Havana. Down here the air is thick and humid. </figcaption>
      </figure>
      
      <figure class="pic">
        <img src="https://www.theblondeabroad.com/wp-content/uploads/2017/09/Greece-Yacht-Week.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://www.theblondeabroad.com/ultimate-greece-travel-guide/"> <p>GREECE TRAVEL GUIDE</p> </a>
        <figcaption>Greece: where historic ruins, volcanic cliffs, and friendly locals meet the blue Mediterranean Sea. My first trip to Greece was a summer adventure through Athens and Mykonos.</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://images.squarespace-cdn.com/content/v1/5558cd14e4b0251d92d46db6/1665483920551-WLS4M6N8RM8O967BCIMQ/Screen+Shot+2022-10-11+at+12.25.09.jpg?format=500w" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://theflore.com/blog-posts/2022/8/14/a-taste-of-alsace-36h-in-strasbourg-and-colmar"> <p>A Taste of Alsace</p> </a>
        <figcaption>The most famous district is its Unesco World Heritage site area; in fact Strasbourg was the first city to have its entire city center be listed as a World Heritage Site. The city is over 2000 years old and was first mentioned in Roman times. </figcaption>
      </figure>
    </div>

    <hr class="div" id="food">
    <h2>Food Blogs</h2>
    <hr style="width: 5rem;margin: auto;">

    <div class="prod" >
      <figure class="pic">
        <img src="https://cdn.roadsandkingdoms.com/uploads/2018/09/Walking_tour_TACOS_2.jpg?class=1536" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://smittenkitchen.com/2023/12/rolled-spinach-omelet/"> <p>rolled spinach omelet</p> </a>
        <figcaption>It turns out it comes from an April 2009 Everyday Food magazine, a shuttered Martha Stewart publication that was wonderful in every way. The focus was on weekday cooking for regular people with busy lives but the food was special.</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://i0.wp.com/smittenkitchen.com/wp-content/uploads/2023/09/chicken-rice-with-buttered-onions-11-scaled.jpg?resize=1024%2C683&ssl=1" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://smittenkitchen.com/2023/09/chicken-rice-with-buttered-onions/"> <p>chicken rice with buttered onions</p> </a>
        <figcaption>Over the last few years, and particularly during those long months of 2020, we got really into variations on “chicken rice” — chicken and rice cooked together in an aromatic broth that together is the most cozy, comforting thing.</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://i0.wp.com/smittenkitchen.com/wp-content/uploads/2023/09/simple-eggplant-parmesan-12-scaled.jpg?w=1920&ssl=1" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://smittenkitchen.com/2023/09/simple-eggplant-parmesan/"> <p>simple eggplant parmesan</p> </a>
        <figcaption>Last year I told you that despite it being the opposite of eggplant season. I mean, who doesn't want an aromatic, cozy casserole of ziti-like flavors, but without the heaviness of the pasta sometimes, right?</figcaption>
      </figure>
    </div>

    <hr class="div" id="art">
    <h2>Creativity Blogs</h2>
    <hr style="width: 5rem;margin: auto;">

    <div class="prod" >
      <figure class="pic">
        <img src="https://web-images.pixpa.com/SCycESk-6KEe1gYQPpKF7-ysOEnKa3RZ2irQBC6Gd88/rs:fit:1200:0/q:80/czM6Ly9waXhwYS5jb20vL2NvbS9hcnRpY2xlcy8xNTc0NzQzMDMzLTM4OTgzNy1hcnQtYmxvZ3NqcGcuanBn" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://babycastsandprints.co.uk/blog/9-arts-crafts-bloggers-you-need-to-follow/"> <p>Messy Little Monster</p> </a>
        <figcaption>Not many bloggers make crafting with kids as easy or fun as Maggy Woodley from Red Ted Art. Her fantastic blog, named after her son, is jam-packed with hundreds of craft ideas for both adults and children - so many you'll be stuck for choice!</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://babycastsandprints.co.uk/wp-content/uploads/2021/10/Fred-1-870x580.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://babycastsandprints.co.uk/blog/spooky-halloween-hand-cast-ideas/"> <p>Spooky Halloween hand cast ideas</p> </a>
        <figcaption>Get stuck in with this year's Halloween decorations rather than just going to your local store. Here are a few Halloween decoration ideas you can do just using our hands casting kit. All the family can get stuck in and these will last throughout the years!</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://cdn.pastemagazine.com/www/articles/paperstitch.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://babycastsandprints.co.uk/blog/10-diy-christmas-decorations-for-kids/"> <p>10 DIY Christmas decorations for kids</p> </a>
        <figcaption>A list of fun arts and crafts for all the family to get involved with, so that even when you're stuck inside from the cold weather there are still things to do to keep the Christmas spirit fresh in your home - whether that be from making Christmas baubles with the family or building a gingerbread house. </figcaption>
      </figure>
    </div>

    <hr class="div" id="fitness">
    <h2>Health & Fitness Blogs</h2>
    <hr style="width: 5rem;margin: auto;">

    <div class="prod">
      <figure class="pic">
        <img src="https://www.shape.com/thmb/d9Kk1poWbMw0avBK3bX7YlXjtw8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/120423-Vinyasa-Yoga-Lead-52a5d29d39074db2b736db9edda4b306.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://www.shape.com/vinyasa-yoga-8410342"> <p>Everything You Should Know About Vinyasa Yoga</p> </a>
        <figcaption>The only beginner's guide you'll need as you embark on your mind-body journey with this fast-moving form of Hatha. This one-breath-per-movement style of yoga is perfect for those who love to pick up the pace and indulge in plenty of rest and relaxation along the way.</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2022/12/food_cravings_thumb_732x549-732x549.png?w=304" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://www.healthline.com/nutrition/finding-the-wisdom-in-food-cravings-plus-tk-techniques-to-make-peace-with-them"> <p>Find Wisdom in Food Cravings</p> </a>
        <figcaption>This is Present Tense, a series on mindfulness for busy people (read: all of us). Whether you're at work, on a walk, or hanging with loved ones, mindfulness can help you stay connected and engaged – no matter what the circumstances.</figcaption>
      </figure>

      <figure class="pic">
        <img src="https://www.shape.com/thmb/8uBGI5ScWDOuIt7mby8mqxD_sy0=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/workout-apps-2520Igor-Kopakov-776382a4176242ebaf2029ec26d8ea78.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://www.shape.com/fitness/training-plans/hiit-workout-apps"> <p>5 Workout Apps You Should Download Now</p> </a>
        <figcaption>Let them be your virtual guide to getting a sweaty, full-body workout in 20 minutes or less. Researchers at the Human Performance Institute in Orlando showed that just seven minutes of HIIT could help decrease body fat while improving insulin sensitivity.</figcaption>
      </figure>
    </div>

    <hr class="div" id="culture"> 
    <h2>Culture & Others</h2>
    <hr style="width: 5rem;margin: auto;">

    <div class="prod" >
      <figure class="pic">
        <img src="https://grandholidayparkvacation.com/uploads/62208357b184e_1646297943.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://www.treebo.com/blog/lifestyle-of-people-of-ladakh/"> <p>Traditions, customs & lifestyle of people of ladakh</p> </a>
        <figcaption>A peaceful and calm lot, the people of Ladakh are proud of their rich culture. They never miss an opportunity to celebrate their culture, rooted in history.</figcaption>
      </figure>

      
      <figure class="pic">
        <img src="https://chokhidhani.com/welcome-indore/wp-content/uploads/2022/12/1-1-768x576.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://chokhidhani.com/welcome-indore/culture-of-rajasthan/"> <p>Culture of Rajasthan</p> </a>
        <figcaption>The culture of Rajasthan is rich and varied, with the people of the state having a strong sense of history and tradition. The land of Kings is a vibrant and colorful state where tradition and culture go hand in hand. The culture is a rich tapestry of traditions, customs, and beliefs. </figcaption>
      </figure>

      <figure class="pic">
        <img src="https://anahad.ngo/wp-content/uploads/2019/08/DSC03619.jpg" alt="Trulli" width="300" height="190" loading="lazy">
        <a href="https://www.caleidoscope.in/art-culture/karnataka-culture-a-directory-of-rich-tradition-art-music-food-and-festivals"> <p>Karnataka Culture - A Directory Of Rich Traditions.</p> </a>
        <figcaption>A state that defines the rich culture in its traditional attire of art, craft, music, dance, festivals and literature, to its modernity that the capital city Bengaluru breathes, Karnataka is a directory of rich culture.</figcaption>
      </figure>

      <% article.forEach(element =>{ %>
        <figure class="pic">
          <img src= '<%= element.image %>' alt="Trulli" width="300" height="190" loading="lazy">
          <a href="#"> <p><%= element.title %></p> </a>
          <figcaption><%= element.des %> </figcaption>
        </figure>
      <% }); %>
    </div>
  </div>
  <a href="/article/new"><button>Create a Blog</button></a>
</section>
<div id="footer">
  <div class="social">
    <div style="padding: 0 5px;" >
      <img class="logo" src="https://cdn-icons-png.flaticon.com/128/665/665209.png?uid=R131937566&ga=GA1.2.1942871318.1703266670&semt=ais" width="25" />
    </div>
    <div style="padding: 0 5px;" >
      <img class="logo" src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png?uid=R131937566&ga=GA1.1.1942871318.1703266670&semt=ais" width="25"/>
    </div>
    <div style="padding: 0 5px;">
      <img class="logo" src="https://img.freepik.com/free-vector/twitter-new-2023-x-logo-white-background-vector_1017-45422.jpg?w=740&t=st=1705302211~exp=1705302811~hmac=2fbce94f688798cf5d9965ae782c9ada030dddc81ace90a574ef8804bdee3b19" width="24" />
    </div>
    <div style="padding: 0 5px;">
      <img class="logo" src="https://cdn-icons-png.flaticon.com/128/665/665212.png?uid=R131937566&ga=GA1.1.1942871318.1703266670&semt=ais" width="25" />
    </div>
  </div>

  <div style="display:flex; width:70%;justify-content:center;margin:auto; color:#cecece">
    <p style="font-size:14px" >Privacy Policy</p>
    <hr style="width:4px;height:4px;margin:auto 5px;border-radius:10px;background-color:white;" >
    <p style="font-size:14px" >Terms Of Service </p>
  </div>
  <p style="font-size:13px;width:100%;padding-top:15px;color:#cecece;text-align:center;"> copywrite@2023</p>
</div>