<form action="/article" method="post" id="NewBlog">
    <div>
      <h2>Upload a Blog!</h2>
      <p>Image-URL</p><input type="text" name="image" id="name" placeholder="enter your image URL here">
      <p>Title</p><input type="text" name="title" id="title" placeholder="Enter Blog Title">
      <p>Descreption</p><textarea type="text" name="des" id="des" placeholder="Descreption your Bloh in few words!" cols="20" rows="20"></textarea>
    </div>
    <button type="submit">Upload</button>
</form>